<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dispatcher.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DynamicLibraries.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Interface.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TypeA.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TypeB.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44207A6A1679FC4800AA3DCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44207A9C167A099100AA3DCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44207AA4167A09BA00AA3DCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44207AAC167A09EA00AA3DCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44207AB4167A0A0900AA3DCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
